.rounded-image img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  object-position: 50% 50%; }

.button {
  font-family: FuturisExtra;
  font-style: normal;
  font-weight: bold;
  padding: 6.5px 20px;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  white-space: nowrap; }

.button-blue {
  background: #23F6F0;
  color: #1F1F1F;
  position: relative; }

.button-gray {
  background: #2D2B2B;
  color: #5A5A5A;
  position: relative; }

.button-glitch:hover:before, .button-glitch:hover:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .8; }

.button-glitch:hover:after {
  background: #fff;
  z-index: -2;
  animation: glitch-button 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite; }

.button-glitch:hover:before {
  background: #FD335D;
  z-index: -1;
  animation: glitch-button 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite; }

.horizontal_navs a {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  color: #5A5A5A;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: .4s; }

.horizontal_navs a:hover {
  color: #23F6F0;
  text-shadow: 0px 0px 3.5px #23F6F0; }

.container {
  width: 100%;
  max-width: 1170px !important;
  margin: 0 auto;
  position: relative; }

.container-xl {
  width: 100%;
  max-width: 1344px !important;
  margin: 0 auto;
  position: relative; }

.container-grey {
  background: #2D2B2B; }

.header__logo img {
  width: 36px;
  height: 70px;
  object-fit: cover; }

.glitch__text {
  font-family: FuturisExtra;
  font-style: normal;
  font-weight: bold;
  color: #23F6F0;
  position: relative;
  font-size: 64px;
  line-height: 60px;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

.glitch__text-red {
  color: #FD335D; }

.glitch__text::before, .glitch__text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1F1F1F; }

.glitch__text::before {
  left: 2px;
  text-shadow: -2px 0 #49FC00;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse; }

.glitch__text::after {
  left: -2px;
  text-shadow: -2px 0 #b300fc;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 2.5s infinite linear alternate-reverse; }

.input {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  color: #5A5A5A;
  background: #2D2B2B;
  padding: 20px 60px 20px 13px;
  caret-color: #FD335D;
  border-radius: 12px;
  outline: none;
  font-size: 14px;
  line-height: 125.18%;
  text-transform: uppercase; }

.search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  width: 32px;
  height: 33px; }

.checkboxes input[type=checkbox] {
  display: none; }

.checkboxes input[type=checkbox]:checked + label.badge {
  color: #FD335D;
  background: #fff; }

.checkboxes input[type=checkbox]:checked + label svg .svg-bg {
  fill: #23F6F0; }

.checkboxes svg:hover {
  cursor: pointer; }

.checkboxes svg:hover .svg-bg {
  fill: #23F6F0; }

.checkboxes .svg-bg {
  fill: #2D2B2B;
  transition: .4s; }

.checkboxes .svg-content {
  fill: #1F1F1F;
  transition: .4s; }

.checkbox {
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.2rem; }

.checkbox:last-child {
  margin-right: 0; }

.radios {
  margin-top: 31px; }

.radios input[type=radio] {
  display: none; }

.radios svg:hover {
  cursor: pointer; }

.radios svg:hover .svg-bg {
  fill: #23F6F0; }

.radios .svg-bg {
  fill: #2D2B2B;
  transition: .4s; }

.radios .svg-content {
  fill: #1F1F1F;
  transition: .4s; }

.radios input[type=radio]:checked + label.badge {
  color: #FD335D;
  background: #fff; }

.radios input[type=radio]:checked + label svg .svg-bg {
  fill: #23F6F0; }

.radio {
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.2rem; }

.radio:last-child {
  margin-right: 0; }

.badge {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  color: #5A5A5A;
  background: #2D2B2B;
  font-size: 18px;
  line-height: 125.18%;
  text-transform: uppercase;
  padding: 12px 13px;
  border-radius: 12px;
  transition: .4s; }

.badge:hover, .badge.active {
  color: #FD335D;
  background: #fff;
  cursor: pointer; }

.badge-md-bl,
.badge-md-r {
  font-family: FuturisExtra;
  font-style: normal;
  font-weight: bold;
  border-radius: 12px;
  padding: 14px 15px;
  font-size: 14px;
  line-height: 125.18%;
  text-transform: uppercase; }

.badge-md-bl {
  color: #1F1F1F;
  background: #23F6F0; }

.badge-md-r {
  background: #FD335D;
  color: #fff; }

.main-title-bl-xl,
.main-title-bl-md,
.main-title-r-md,
.main-title-r-sm,
.main-title-bl-sm,
.main-title-w,
.main-title-w-sm,
.main-sub-title-r-sm {
  font-family: FuturisExtra;
  font-style: normal;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF; }

.main-sub-title-r-sm {
  color: #FD335D;
  font-size: 13px; }

.main-title-bl-xl {
  color: #23F6F0;
  font-size: 36px; }

.main-title-bl-xl span {
  color: #FD335D; }

.main-title-bl-md {
  color: #23F6F0;
  font-size: 24px; }

.main-title-bl-shadow {
  text-shadow: 0px 0px 3.5px #23F6F0; }

.main-title-r-md {
  color: #FD335D;
  font-size: 24px; }

.main-title-r-sm {
  color: #FD335D;
  font-size: 18px;
  line-height: 22.53px; }

.main-title-bl-lh-sm {
  line-height: 35px !important; }

.main-title-bl-sm {
  color: #23F6F0;
  font-size: 18px;
  line-height: 20px !important; }

.main-title-w {
  font-size: 48px; }

.main-title-w-sm {
  font-size: 18px; }

.main-sub-title-sm,
.main-sub-title-bl-sm,
.main-text-w-sm,
.main-text-sm-gry {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125.18%; }

.main-sub-title-sm {
  color: #5A5A5A;
  text-transform: uppercase; }

.main-sub-title-sm.active {
  color: #23F6F0; }

.main-sub-title-bl-sm {
  color: #23F6F0;
  text-transform: uppercase; }

.main-sub-title-grey-extra-sm {
  font-family: FuturisExtra;
  font-style: normal;
  font-weight: bold;
  color: #5A5A5A;
  font-size: 11px;
  line-height: 125.18%;
  text-transform: uppercase; }

.main-text-w-sm {
  color: #FFFFFF;
  text-transform: uppercase; }

.main-text-sm-gry {
  color: #5A5A5A; }

.trajectory__event {
  display: flex;
  transition: 1s; }

.trajectory__event:last-child .trajectory__line .line {
  display: none; }

.trajectory__event:last-child .trajectory__line.active .line {
  display: none; }

.trajectory__event .trajectory__text.active {
  color: #23F6F0;
  position: absolute !important;
  left: 73px;
  opacity: 0; }

.trajectory__event .trajectory__line.active {
  height: 0;
  overflow: hidden;
  margin-left: -71px;
  margin-top: 6px;
  margin-bottom: -7px; }

.trajectory__event .trajectory__line.active .number {
  background: #23F6F0; }

.trajectory__event .trajectory__line.active .line {
  height: 100%;
  display: block;
  width: 5px;
  background: #23F6F0; }

.trajectory__line {
  position: relative;
  margin-right: 39px;
  margin-top: 6px; }

.trajectory__line .number {
  background: #2D2B2B;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  position: relative; }

.trajectory__line .number span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: FuturisExtra;
  font-style: normal;
  font-weight: bold;
  color: #1F1F1F;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-left: 1.5px; }

.trajectory__line .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  background: #2D2B2B;
  top: 30px;
  bottom: -7px;
  z-index: -1; }

.trajectory__text {
  max-width: 389px;
  margin-bottom: 60px; }

.advantages__card {
  transition: .4s; }

.advantages__card:hover {
  cursor: pointer;
  transition: .4s; }

.advantages__card:hover .advantages__name {
  color: #23F6F0; }

.advantages__name {
  padding-top: 220px;
  max-width: 200px;
  font-family: FuturisExtra;
  font-style: normal;
  font-weight: bold;
  color: #2D2B2B;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: .4s; }

.form-input,
.form-textarea {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  background: #2D2B2B;
  position: relative;
  caret-color: #23F6F0;
  border-radius: 12px;
  outline: none;
  padding: 45px 21px 35px;
  font-size: 14px;
  line-height: 125.18%;
  text-transform: uppercase;
  color: #FFFFFF; }

.form-input::placeholder,
.form-textarea::placeholder {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  color: #5A5A5A;
  font-size: 18px;
  line-height: 125.18%;
  text-transform: uppercase; }

.form-textarea {
  min-height: 231px;
  resize: none;
  padding-top: 22px; }

.form-validate-error {
  caret-color: #FF0000;
  background: rgba(255, 0, 0, 0.13);
  border: 1px solid #FF0000;
  box-sizing: border-box;
  border-radius: 12px; }

.form-validate-error::placeholder {
  color: transparent !important; }

.form-label-validate-error {
  font-family: FuturisExtra;
  font-style: normal;
  font-weight: bold;
  position: relative;
  font-size: 9px;
  line-height: 125.18%;
  text-transform: uppercase;
  color: #FF0000;
  margin-top: 11px;
  margin-bottom: 7px;
  padding-right: 10px;
  text-align: right; }

.form-text-validate-error {
  font-family: FuturisExtra;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 125.18%;
  text-transform: uppercase;
  color: #FF0000; }

.form-input-text-sm {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 125.18%;
  text-transform: uppercase;
  color: #fff; }

.form-input-text-sm::placeholder {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  color: #5A5A5A;
  font-size: 11px;
  line-height: 125.18%;
  text-transform: uppercase; }

.form-label-required:after {
  font-family: FuturisExtra;
  font-style: normal;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: -2px;
  content: '*';
  font-size: 13px;
  line-height: 125.18%;
  text-transform: uppercase;
  color: #FF0000; }

.form-label {
  font-family: FuturisExtra;
  font-style: normal;
  font-weight: bold;
  color: #23F6F0;
  position: relative;
  font-size: 13px;
  line-height: 125.18%;
  text-transform: uppercase;
  margin-top: 9px;
  margin-bottom: 5px; }

.freebie-container {
  max-width: 1247px !important; }

.freebie {
  margin-bottom: 22px; }

.freebie-disabled .freebie__image {
  filter: grayscale(100%); }

.freebie-disabled .freebie__title {
  color: #5A5A5A; }

.freebie-disabled .freebie__subTitle {
  color: #1F1F1F; }

.freebie-disabled .freebie__badge {
  background: #1F1F1F;
  color: #5A5A5A; }

.freebie-disabled .freebie__state button {
  background: #2D2B2B;
  color: rgba(255, 255, 255, 0.1); }

.freebie-disabled .freebie__state button:hover {
  cursor: no-drop;
  background: #2D2B2B; }

.freebie-disabled .freebie__state button:after, .freebie-disabled .freebie__state button:before {
  display: none; }

.freebie-disabled .freebie__state-count {
  color: #424040; }

.freebie__image {
  width: 310px;
  min-height: 280px; }

.freebie__image img {
  width: 100%;
  height: 100%; }

.freebie__content {
  padding: 53px 51px 28px;
  background: #2D2B2B;
  width: 637px; }

.freebie__title {
  font-family: FuturisExtra;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FD335D; }

.freebie__subTitle {
  font-family: FuturisExtra;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #23F6F0; }

.freebie__badge {
  background: #FFFFFF;
  border-radius: 12px;
  padding: 9px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 125.18%;
  text-transform: uppercase;
  color: #FD335D; }

.freebie__text {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125.18%;
  color: #5A5A5A;
  position: relative;
  max-width: 100%; }

.freebie__text:before {
  content: '';
  position: absolute;
  top: 9px;
  left: -18px;
  width: 11px;
  height: 4px;
  background: #5A5A5A; }

.freebie__state button:hover {
  background: #fff; }

.freebie__state-count {
  font-size: 14px;
  line-height: 30px;
  margin-top: 13px; }

.reviews {
  max-width: 1254px !important; }

.review__image {
  max-width: 131px; }

.review__text-bl, .review__text-r {
  position: relative; }

.review__text-bl:before, .review__text-bl:after, .review__text-r:before, .review__text-r:after {
  content: '';
  width: 20px;
  height: 15.62px;
  position: absolute; }

.review__text-bl:before, .review__text-r:before {
  left: -10px;
  top: 5px; }

.review__text-bl:after, .review__text-r:after {
  right: -10px;
  bottom: 6px; }

.review__text-bl:before, .review__text-bl:after {
  background: transparent url("../images/svg/icons/quotes-blue.svg") 50% 50% no-repeat; }

.review__text-r:before, .review__text-r:after {
  background: transparent url("../images/svg/icons/quotes-red.svg") 50% 50% no-repeat; }

.asdhaskdhkjh {
  margin-left: -310px !important;
  margin-right: auto; }

.bg-dark {
  background: #000;
  opacity: .2; }

.grid-container {
  margin: 0 auto;
  width: 1716px;
  display: grid;
  grid-column-gap: 22px;
  grid-row-gap: 22px;
  grid-template-columns: 342px 115px 479px 402px 290px; }

.grid-card {
  background: #cdcdcd;
  position: relative;
  overflow: hidden;
  transition: .4s; }

.grid-card:hover {
  transform: scaleY(1.26);
  transition: .4s;
  z-index: 2; }

.grid-card:hover .grid-card-image {
  transform: scaleX(1.26);
  transition: .4s; }

.grid-card:hover .grid-card-bg,
.grid-card:hover .grid-badge,
.grid-card:hover .grid-name {
  opacity: 0;
  transition: .4s; }

.grid-card:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 308px; }

.grid-card:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 4;
  height: 308px; }

.grid-card:nth-child(3) {
  grid-column-start: 4;
  grid-column-end: 6;
  height: 308px; }

.grid-card:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 2;
  height: 288px; }

.grid-card:nth-child(5) {
  grid-column-start: 2;
  grid-column-end: 4;
  height: 288px; }

.grid-card:nth-child(6) {
  grid-column-start: 4;
  grid-column-end: 5;
  height: 288px; }

.grid-card:nth-child(7) {
  grid-column-start: 5;
  grid-column-end: 6;
  height: 288px; }

.grid-card-image {
  transition: .4s; }

.grid-card-image img {
  object-fit: cover;
  object-position: 50% 50%; }

.grid-card-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.77);
  transition: .4s; }

.grid-badge {
  position: absolute;
  top: 22px;
  left: 22px;
  transition: .4s; }

.grid-name {
  position: absolute;
  bottom: 12px;
  right: 12px;
  max-width: 246px;
  font-family: FuturisExtra;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 125.18%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: .4s; }

.grid-span-r span {
  color: #FD335D; }

.grid-span-bl span {
  color: #23F6F0; }

.progress-wrapper {
  position: relative;
  width: 100%;
  max-width: 134px;
  height: 100%;
  max-height: 134px; }

.progress-wrapper .number {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 6;
  transform: translate(-50%, -50%);
  font-family: FuturisExtra;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #23F6F0; }

.progress-wrapper .outer {
  position: absolute;
  z-index: 7;
  height: 100%;
  width: 100%;
  border-radius: 100%; }

.progress-bar {
  height: 134px;
  width: 134px;
  position: relative;
  transform: rotate(90deg); }

.progress-bar .inner,
.progress-bar .circle {
  position: absolute;
  z-index: 6;
  height: 100%;
  width: 100%;
  border-radius: 100%; }

.progress-bar .inner {
  top: 50%;
  left: 50%;
  height: 92.44px;
  width: 92.44px;
  margin: -46.22px 0 0 -46.22px;
  background-color: #1F1F1F;
  border-radius: 100%; }

.progress-bar .circle {
  z-index: 1;
  box-shadow: none;
  transform: scaleX(-1); }

.progress-bar .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  -webkit-border-radius: 100%;
  clip: rect(0px, 134px, 134px, 67px); }

.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 67px, 134px, 0px); }

.circle .bar .progress,
.circle .bar .dot span {
  background: #23F6F0; }

.circle .left .progress {
  z-index: 1;
  animation: left 4s linear both; }

.circle .right {
  z-index: 3;
  transform: rotate(180deg); }

.circle .right .progress {
  animation: right 5s linear both;
  animation-delay: 5s; }

.articles {
  max-width: 1312px;
  width: 100%;
  margin: 0 auto; }

.articleCard {
  max-width: 601px; }

.articleCard__image {
  background: #2D2B2B;
  width: 601px;
  height: 280px; }

.articleCard__badge {
  top: 24px;
  left: 24px; }

.articleCard__name {
  font-family: FuturisExtra;
  font-style: normal;
  font-weight: bold;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #23F6F0; }

.articleCard__date, .articleCard__views {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5A5A5A; }

.articleCard__views {
  position: relative;
  margin-left: 32px;
  margin-right: 8px; }

.articleCard__views:before {
  content: '';
  background: transparent url("../images/svg/icons/eye.svg") 50% 50%/cover;
  position: absolute;
  width: 15px;
  height: 8px;
  left: -20px;
  top: 50%;
  transform: translateY(-50%); }

.articleCard__title {
  margin-top: 41px;
  font-size: 26px;
  margin-bottom: 11px; }
